<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>CS631 GXM Fitness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="../../static/css/styles.css" th:href="@{/resources/css/styles.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/color/green.css" th:href="@{/resources/css/color/green.css}" rel="stylesheet" media="screen"/>
    <script src="js/modernizr-custom.js" th:src="@{/resources/js/modernizr-custom.js}"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="../../static/js/selectivizr-min.js" th:src="@{/resources/js/selectivizr-min.js}"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="wrapper">
    <h2>The Ultimate Fitness Application</h2>

    <ul th:replace="fragments/header :: user_logged_in" class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li class="active">(user log in action)</li>
    </ul>

    <div class="row-fluid">
        <div class="span12">
            <h2 class="title">Payroll Report</h2>
            <h3 class="title">Total Payroll this Period : &dollar;<span th:utext="${total}">$(total)</span></h3>
		</div>
	</div>

    <div class="row-fluid gallery">
        <div class="span12">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Instructor Type</th>
                    <th>Wage</th>
                    <th>Time</th>
                    <th>Gross</th>
                    <th>Fed. Tax</th>
                    <th>State Tax</th>
                    <th>Other Tax</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="payitem : ${payrolls}">
                    <td th:utext="${payitem.id}">Id</td>
                    <td th:inline="text">
                        <a href="#" th:href="@{/admin/instructors/details(id=${payitem.id})}">[[${payitem.name}]]</a>
                    </td>
                    <td th:utext="${payitem.type}">Instructor Type</td>
                    <td>&dollar; <span th:utext="${payitem.wage}">Wage</span></td>
                    <td >
                        <span th:utext="${payitem.hours}">Time</span>
                        <span th:if="${#strings.equals(payitem.type,'Hourly')}">hours</span>
                        <span th:if="${#strings.equals(payitem.type,'Salaried')}">days</span>
                    </td>
                    <td>&dollar; <span th:utext="${payitem.gross}">Gross</span></td>
                    <td>&dollar; <span th:utext="${payitem.federalTax}">Fed Tax</span></td>
                    <td>&dollar; <span th:utext="${payitem.stateTax}">State Tax</span></td>
                    <td>&dollar; <span th:utext="${payitem.otherTax}">Other Tax</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>

