<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>(Authenticated page)</title>
    </head>
    <body>
        <h1>(Authenticated page)</h1>
        <p th:inline="text">User details: [[${#httpServletRequest.remoteUser}]]</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
