<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Homepage Medical Sample</title>
        <title>CS631 GXM Fitness</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link href="../../static/css/styles.css" th:href="@{resources/css/styles.css}" rel="stylesheet" media="screen"/>
        <link href="../../static/css/color/green.css" th:href="@{resources/css/color/green.css}" rel="stylesheet" media="screen"/>
        <script src="js/modernizr-custom.js" th:src="@{resources/js/modernizr-custom.js}"></script>
        <!--[if (gte IE 6)&(lte IE 8)]>
        <script src="../../static/js/selectivizr-min.js" th:src="@{resources/js/selectivizr-min.js}"></script>
        <![endif]-->
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="wrapper">
            <h2>The Ultimate Fitness Application</h2>

            <ul th:replace="fragments/header :: user_logged_in" class="breadcrumb">
                <li><a href="#">Home</a> <span class="divider">/</span></li>
                <li class="active">(user log in action)</li>
            </ul>

            <div class="row-fluid sellpoints">
                <div class="span3">
                    <img src="../../static/img/icons/slaps1-green.png" th:src="@{resources/img/icons/slaps1-green.png}" alt="image text"/>
                    <h3>Ideal Weight</h3>
                    <p></p>
                </div>
                <div class="span3">
                    <img src="../../static/img/icons/slaps2-green.png" th:src="@{resources/img/icons/slaps2-green.png}" alt="image text"/>
                    <h3>Stopwatch</h3>
                    <p></p>
                </div>
                <div class="span3">
                    <img src="../../static/img/icons/slaps3-green.png" th:src="@{resources/img/icons/slaps3-green.png}" alt="image text"/>
                    <h3>Select Your Class</h3>
                    <p></p>
                </div>
                <div class="span3">
                    <img src="../../static/img/icons/slaps4-green.png" th:src="@{resources/img/icons/slaps4-green.png}" alt="image text"/>
                    <h3>Start Today</h3>
                    <p></p>
                </div>
            </div>


            <div class="row-fluid tabs">
                <div class="span12">
                    <ul class="nav-tabs" id="myTab">
                        <li><a href="#outside-sports"><span></span>Outside Sports</a></li>
                        <li class="active"><a href="#video-tour"><span></span>Video Tour</a></li>
                        <li><a href="#quiet-sport"><span></span>Quiet Sports</a></li>
                        <li><a href="#sportive-comunity"><span></span>Sportive Comunity</a></li>
                        <li><a href="#football"><span></span>Football</a></li>
                    </ul>


                    <div class="tab-content">
                        <!-- Tab 1 -->
                        <div class="tab-pane" id="outside-sports">
                            <div class="row-fluid">
                                <div class="span8">
                                    <h2>Outside Sports</h2>
                                    <img src="../../static/img/trainers/gym-tab2.jpg" th:src="@{resources/img/trainers/gym-tab2.jpg}" alt="image text"/>
                                </div>
                                <div class="span4">
                                    <h5>Our center offers you</h5>
                                    <ul class="tips">
                                        <li>Friendly, Professional Staff</li>
                                        <li>Certified Personal Trainers</li>
                                        <li>STEEL Express 30-minute</li>
                                        <li>60 Pieces of Cardio</li>
                                        <li>60 High Definition TVs</li>
                                        <li>50 Group Fitness Classes</li>
                                        <li>Women's Only Dumbbell Area</li>
                                        <li>Fitness Assessments</li>
                                        <li>Steam/Sauna</li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!-- Tab 2 -->
                        <div class="tab-pane active" id="video-tour">
                            <div class="row-fluid">
                                <div class="span8">
                                    <h2>Video Tour</h2>
                                    <video id="example_video_1" class="video-js vjs-default-skin" th:controls="controls" preload="none" height="206" width="400"
                                           poster="http://video-js.zencoder.com/oceans-clip.png"
                                           data-setup="{42}">
                                        <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                                        <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                                        <track kind="captions" srclang="en" label="English" />
                                    </video>
                                </div>
                                <div class="span4">
                                    <h5>Our center offers you</h5>
                                    <ul class="tips">
                                        <li>Friendly, Professional Staff</li>
                                        <li>Certified Personal Trainers</li>
                                        <li>STEEL Express 30-minute</li>
                                        <li>60 Pieces of Cardio</li>
                                        <li>60 High Definition TVs</li>
                                        <li>50 Group Fitness Classes</li>
                                        <li>Women's Only Dumbbell Area</li>
                                        <li>Fitness Assessments</li>
                                        <li>Steam/Sauna</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <!-- Tab 3 -->
                        <div class="tab-pane" id="quiet-sport">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Quiet Sports</h2>
                                    <p>
                                        Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, <a href="">nisi ut game</a>. Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. <br/>
                                        quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. Menim ad minima veniam.
                                    </p>
                                    <ul class="tips">
                                        <li>Friendly, Professional Staff</li>
                                        <li>Certified Personal Trainers</li>
                                        <li>STEEL Express 30-minute</li>
                                        <li>60 Pieces of Cardio</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <!-- Tab4 -->
                        <div class="tab-pane" id="sportive-comunity">
                            <h2>Sportive Comunity</h2>
                            <p>
                                Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. Menim ad minima veniam, quis nostru ostru exercitationem ullam corporisexercitationem ullam corporis and laboriosam <img class="left" src="../../static/img/classes/our-classes-3.jpg" th:src="@{resources/img/classes/our-classes-3.jpg}" alt="image text"/> Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. <br/>
                                quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. Menim ad minima veniam. quis nostru <a href="">exercitationem ullam corporis</a> and laboriosam, nisi ut game. Menim ad minima veniam. <br/> Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, nisi ut game
                            </p>
                        </div>

                        <!-- Tab5 -->
                        <div class="tab-pane" id="football">
                            <h2>Football</h2>
                            <p>
                                Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, <a href="">nisi ut game</a>. Menim ad minima veniam, quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. <br/>
                                quis nostru exercitationem ullam corporis and laboriosam, nisi ut game. Menim ad minima veniam.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span12">
                    <h3 class="title">Memberships</h3>
                    <h5>Make your fitness goals a reality - NOW!</h5> <!-- haha -->
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <a href=""><img src="../../static/img/banners/banner-ads-1.jpg" th:src="@{resources/img/banners/banner-ads-1.jpg}" alt="image text"/></a>
                </div>
            </div>
            <div th:replace="fragments/memberships_list :: memberships_list"></div>
        </div>



        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>
