<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Homepage Medical Sample</title>
    <title>CS631 GXM Fitness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="../../static/css/styles.css" th:href="@{resources/css/styles.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/color/green.css" th:href="@{resources/css/color/green.css}" rel="stylesheet" media="screen"/>
    <script src="js/modernizr-custom.js" th:src="@{resources/js/modernizr-custom.js}"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="../../static/js/selectivizr-min.js" th:src="@{resources/js/selectivizr-min.js}"></script>
    <![endif]-->
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
        <p th:inline="text">User details: [[${#httpServletRequest.remoteUser}]]</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
